.cabecera{

    background-image: url("../assets/backgrounds/janis-beitins-BGcJ8z62i2k-unsplash.jpg");
  
}

nav{


background-color: black;
height: 75px;



}




.item{


position: auto;
height: 200px;
background-color: blue;
border-style: solid;

}



section{

height: 100%;
width: 100%;
padding: 0;
margin-bottom: 30px;
}


.parallax{

background: #fff fixed no-repeat 50% 50%;
background-size: cover;


}


#seccion1{

    background-image: url("../assets/backgrounds/jonny-caspari-kplYftwYOCY-unsplash.jpg");


}


#seccion2{

    background-color: white;


}


#seccion3{

    background-image: url("../assets/backgrounds/janis-beitins-BGcJ8z62i2k-unsplash.jpg");


}


li, ul, ol{


color: white;

}