/*p{font-family: 'Roboto', sans-serif;
font-size:16px;}
p.cursiv {font-family: cursive;}

h1 {font-family: Helvetica, Geneva, rial,
        SunSans-Regular, sans-serif;
		font-size:1.2em; font-weight:bold; 			
		text-decoration:underline; text-align:center;}
h2 {font-family: Helvetica, Geneva, rial,
        SunSans-Regular, sans-serif;font-size:1.1em; font-weight:bold; text-decoration:none; text-align:center;}*/

@import "susy";
h1 {
    padding-top: 50px;
}

.cabecera {
    text-align: center;
    background-image: url("../assets/backgrounds/bg-nfc.jpg");
    min-height: 40vh;
}

nav {
    background-color: black;
    height: 75px;
}

.item {
    position: auto;
    height: 200px;
    background-color: blue;
    border-style: solid;
}

section {
    height: 100%;
    width: 100%;
    padding: 0;
}

.parallax {
    background: #fff fixed no-repeat 60% 60%;
    background-size: cover;
}

#seccion0 {
    background-image: url("../assets/backgrounds/bg-nfc.jpg");
}

#seccion1 {
    background-image: url("../assets/backgrounds/bg-nfc.jpg");
}

#seccion2 {
    background-color: white;
}

#seccion3 {
    background-image: url("../assets/backgrounds/bg-nfc.jpg");
}

.espacioNav {
    background-image: url("../assets/backgrounds/bg-nfc.jpg");
}

#seccion4 {
    display: inline-block;
    text-align: center;
}

.ampliable:hover {
    width: 100%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.ampliable {
    position: relative;
    width: 100px;
    height: 100px;
    transition: width 2s, height 4s;
    overflow: hidden;
    border-radius: 4px;
    text-align: center;
    background-color: white;
}

li,
ul,
ol {
    color: blue;
}

.userImg {
    height: 75px;
    width: 70px;
    object-fit: cover;
}

html {
    scroll-behavior: smooth;
}

.espacioNav {
    height: 90px;
}


/*EFECTO PARA AMPLIAR TARJETAS */

.zoom-effect-container {
    float: left;
    position: relative;
    width: 670px;
    height: 290;
    margin: 0 auto;
    overflow: hidden;
}

.zoom-card {
    position: auto;
    top: 0;
    left: 0;
}

.zoom-card {
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}

.zoom-effect-container:hover .zoom-card {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
}